@using Microsoft.AspNetCore.Mvc;

@{
    Layout = "_Layout";
}
<section class="home-section home-full-height" id="home">
    <div class="hero-slider">
        <ul class="slides">
            <li class="bg-dark-30 restaurant-page-header bg-dark" style="background-image:url(Content/Themes/Store/assets/images/restaurant/slider1.png);">
                <div class="titan-caption">
                    <div class="caption-content">
                        <div class="font-alt mb-30 titan-title-size-1"> Hello & welcome</div>
                        <div class="font-alt mb-40 titan-title-size-4">We are MediStock</div><a class="section-scroll btn btn-border-w btn-round" href="@Url.Action("Medicine", "Product")">Check Our Products</a>
                    </div>
                </div>
            </li>
            <li class="bg-dark-30 restaurant-page-header bg-dark" style="background-image:url(Content/Themes/Store/assets/images/restaurant/slider2.png);">
                <div class="titan-caption">
                    <div class="caption-content">
                        <div class="font-alt mb-30 titan-title-size-2">MediStock is a multipurpose web application for<br>not only buying medicines but for other exiting stuff too</div><a class="btn btn-border-w btn-round" href="#">Discover</a>
                    </div>
                </div>
            </li>
            <li class="bg-dark-30 restaurant-page-header bg-dark" style="background-image:url(Content/Themes/Store/assets/images/restaurant/slider3.png);">
                <div class="titan-caption">
                    <div class="caption-content">
                        <div class="font-alt mb-30 titan-title-size-1"> Take a look at</div>
                        <div class="font-alt mb-40 titan-title-size-3">our Creations</div><a class="section-scroll btn btn-border-w btn-round" href="#">Check It Out</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>

<div class="main">
    <section class="module" id="portfolio">
        <div class="container">

          @await Component.InvokeAsync("CategoryMenu")

            @*<div class="row">
                    <div class="col-sm-12">
                        <ul class="filter font-alt" id="filters">
                            <li><a class="current wow fadeInUp" href="#" data-filter="*">All</a></li>
                            <li><a class="wow fadeInUp" href="#" data-filter=".Antipyretics" data-wow-delay="0.2s">Antipyretics</a></li>
                            <li><a class="wow fadeInUp" href="#" data-filter=".Analgesics" data-wow-delay="0.4s">Analgesics</a></li>
                            <li><a class="wow fadeInUp" href="#" data-filter=".Antimalarial" data-wow-delay="0.6s">Antimalarial </a></li>
                            <li><a class="wow fadeInUp" href="#" data-filter=".Antibiotics" data-wow-delay="0.6s">Antibiotics</a></li>
                            <li><a class="wow fadeInUp" href="#" data-filter=".Antiseptics" data-wow-delay="0.6s">Antiseptics</a></li>
                            <li><a class="wow fadeInUp" href="#" data-filter=".Moodstabilizers" data-wow-delay="0.6s">Mood stabilizers</a></li>
                        </ul>
                    </div>
                </div>*@
            <ul class="works-grid works-grid-masonry works-grid-4 works-hover-d" id="works-grid">
                <li class="work-item Antipyretics Analgesics">
                    <a href="#">
                        <div class="work-image"><img src="~/Content/Themes/Store/assets/images/portfolio/slider1.png" alt="Portfolio Item" /></div>
                        <div class="work-caption font-alt">
                            <h3 class="work-title">Corporate Identity</h3>
                            <div class="work-descr">Illustration</div>
                        </div>
                    </a>
                </li>
                <li class="work-item Antimalarial Antibiotics">
                    <a href="#">
                        <div class="work-image"><img src="~/Content/Themes/Store/assets/images/portfolio/slider1.png" alt="Portfolio Item" /></div>
                        <div class="work-caption font-alt">
                            <h3 class="work-title">Bag MockUp</h3>
                            <div class="work-descr">Marketing</div>
                        </div>
                    </a>
                </li>
                <li class="work-item Antiseptics Moodstabilizers">
                    <a href="#">
                        <div class="work-image"><img src="~/Content/Themes/Store/assets/images/portfolio/slider1.png" alt="Portfolio Item" /></div>
                        <div class="work-caption font-alt">
                            <h3 class="work-title">Disk Cover</h3>
                            <div class="work-descr">Illustration</div>
                        </div>
                    </a>
                </li>
                <li class="work-item Antiseptics Moodstabilizers">
                    <a href="#">
                        <div class="work-image"><img src="~/Content/Themes/Store/assets/images/portfolio/slider1.png" alt="Portfolio Item" /></div>
                        <div class="work-caption font-alt">
                            <h3 class="work-title">Business Card</h3>
                            <div class="work-descr">Photography</div>
                        </div>
                    </a>
                </li>
                <li class="work-item Antiseptics Antipyretics">
                    <a href="#">
                        <div class="work-image"><img src="~/Content/Themes/Store/assets/images/portfolio/slider1.png" alt="Portfolio Item" /></div>
                        <div class="work-caption font-alt">
                            <h3 class="work-title">Web Design</h3>
                            <div class="work-descr">Webdesign</div>
                        </div>
                    </a>
                </li>
                <li class="work-item Moodstabilizers Antiseptics">
                    <a href="#">
                        <div class="work-image"><img src="~/Content/Themes/Store/assets/images/portfolio/slider1.png" alt="Portfolio Item" /></div>
                        <div class="work-caption font-alt">
                            <h3 class="work-title">New Product</h3>
                            <div class="work-descr">Marketing</div>
                        </div>
                    </a>
                </li>
                <li class="work-item Antibiotics Antimalarial">
                    <a href="#">
                        <div class="work-image"><img src="~/Content/Themes/Store/assets/images/portfolio/slider1.png" alt="Portfolio Item" /></div>
                        <div class="work-caption font-alt">
                            <h3 class="work-title">New Product</h3>
                            <div class="work-descr">Marketing</div>
                        </div>
                    </a>
                </li>
                <li class="work-item Antimalarial">
                    <a href="#">
                        <div class="work-image"><img src="~/Content/Themes/Store/assets/images/portfolio/slider1.png" alt="Portfolio Item" /></div>
                        <div class="work-caption font-alt">
                            <h3 class="work-title">Bottle MockUp</h3>
                            <div class="work-descr">Marketing</div>
                        </div>
                    </a>
                </li>
                <li class="work-item Antipyretics Analgesics">
                    <a href="#">
                        <div class="work-image"><img src="~/Content/Themes/Store/assets/images/portfolio/slider1.png" alt="Portfolio Item" /></div>
                        <div class="work-caption font-alt">
                            <h3 class="work-title">Personal Identity</h3>
                            <div class="work-descr">Photography</div>
                        </div>
                    </a>
                </li>
                <li class="work-item Analgesics Moodstabilizers">
                    <a href="#">
                        <div class="work-image"><img src="~/Content/Themes/Store/assets/images/portfolio/slider1.png" alt="Portfolio Item" /></div>
                        <div class="work-caption font-alt">
                            <h3 class="work-title">Business Card</h3>
                            <div class="work-descr">Webdesign</div>
                        </div>
                    </a>
                </li>
                <li class="work-item Analgesics Antiseptics">
                    <a href="#">
                        <div class="work-image"><img src="~/Content/Themes/Store/assets/images/portfolio/slider1.png" alt="Portfolio Item" /></div>
                        <div class="work-caption font-alt">
                            <h3 class="work-title">Paper Clip</h3>
                            <div class="work-descr">Illustration</div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <section class="module">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h2 class="module-title font-alt">Exclusive Products</h2>
                    <div class="module-subtitle font-serif">These drugs does come at some hefty expense but trust us they're worth it</div>
                </div>
            </div>
            <div class="row">
                <div class="owl-carousel text-center" data-items="5" data-pagination="false" data-navigation="false">
                    <div class="owl-item">
                        <div class="col-sm-12">
                            <div class="ex-product">
                                <a href="#"><img src="~/Content/Themes/Store/assets/images/shop/product-1.png" alt="Leather belt" /></a>
                                <h4 class="shop-item-title font-alt"><a href="#">Myalept</a></h4>£71,306
                            </div>
                        </div>
                    </div>
                    <div class="owl-item">
                        <div class="col-sm-12">
                            <div class="ex-product">
                                <a href="#"><img src="~/Content/Themes/Store/assets/images/shop/product-1.png" alt="Derby shoes" /></a>
                                <h4 class="shop-item-title font-alt"><a href="#">Ravicti</a></h4>£55,341
                            </div>
                        </div>
                    </div>
                    <div class="owl-item">
                        <div class="col-sm-12">
                            <div class="ex-product">
                                <a href="#"><img src="~/Content/Themes/Store/assets/images/shop/product-1.png" alt="Leather belt" /></a>
                                <h4 class="shop-item-title font-alt"><a href="#">Mavenclad</a></h4>£53,730
                            </div>
                        </div>
                    </div>
                    <div class="owl-item">
                        <div class="col-sm-12">
                            <div class="ex-product">
                                <a href="#"><img src="~/Content/Themes/Store/assets/images/shop/product-1.png" alt="Leather belt" /></a>
                                <h4 class="shop-item-title font-alt"><a href="#">Actimmune</a></h4>£52,777
                            </div>
                        </div>
                    </div>
                    <div class="owl-item">
                        <div class="col-sm-12">
                            <div class="ex-product">
                                <a href="#"><img src="~/Content/Themes/Store/assets/images/shop/product-1.png" alt="Chelsea boots" /></a>
                                <h4 class="shop-item-title font-alt"><a href="#">Oxervate</a></h4>£48,498
                            </div>
                        </div>
                    </div>
                    <div class="owl-item">
                        <div class="col-sm-12">
                            <div class="ex-product">
                                <a href="#"><img src="~/Content/Themes/Store/assets/images/shop/product-1.png" alt="Leather belt" /></a>
                                <h4 class="shop-item-title font-alt"><a href="#">Gattex</a></h4>£40,450
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="module" id="news">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h2 class="module-title font-alt">Latest Drugs Blog Posts</h2>
                    <div class="module-subtitle font-serif">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</div>
                </div>
            </div>
            <div class="row multi-columns-row post-columns">
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="post mb-20">
                        <div class="post-thumbnail"><a href="#"><img src="~/Content/Themes/Store/assets/images/work-1.png" alt="Blog-post Thumbnail" /></a></div>
                        <div class="post-header font-alt">
                            <h2 class="post-title"><a href="#">Our trip to the Corona Virus</a></h2>
                            <div class="post-meta">
                                By&nbsp;<a href="#">Meet Parmar</a>&nbsp;| 23 February | 3 Comments
                            </div>
                        </div>
                        <div class="post-entry">
                            <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                        </div>
                        <div class="post-more"><a class="more-link" href="#">Read more</a></div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="post mb-20">
                        <div class="post-thumbnail"><a href="#"><img src="~/Content/Themes/Store/assets/images/work-1.png" alt="Blog-post Thumbnail" /></a></div>
                        <div class="post-header font-alt">
                            <h2 class="post-title"><a href="#">Shore after the COVID-19</a></h2>
                            <div class="post-meta">
                                By&nbsp;<a href="#">Raj Pawar</a>&nbsp;| 11 March | 4 Comments
                            </div>
                        </div>
                        <div class="post-entry">
                            <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                        </div>
                        <div class="post-more"><a class="more-link" href="#">Read more</a></div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="post mb-20">
                        <div class="post-thumbnail"><a href="#"><img src="~/Content/Themes/Store/assets/images/work-1.png" alt="Blog-post Thumbnail" /></a></div>
                        <div class="post-header font-alt">
                            <h2 class="post-title"><a href="#">We in Pandesara Housing</a></h2>
                            <div class="post-meta">
                                By&nbsp;<a href="#">Rakesh Girase</a>&nbsp;| 5 March | 15 Comments
                            </div>
                        </div>
                        <div class="post-entry">
                            <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                        </div>
                        <div class="post-more"><a class="more-link" href="#">Read more</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr class="divider-w">
    <section class="module-small">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h2 class="module-title font-alt">Brands associated with us</h2>
                </div>
            </div>
            <div class="row client">
                <div class="owl-carousel text-center" data-items="6" data-pagination="false" data-navigation="false">
                    <div class="owl-item">
                        <div class="col-sm-12">
                            <div class="client-logo"><img src="~/Content/Themes/Store/assets/images/client-logo-dark-1.png" alt="Client Logo" /></div>
                        </div>
                    </div>
                    <div class="owl-item">
                        <div class="col-sm-12">
                            <div class="client-logo"><img src="~/Content/Themes/Store/assets/images/client-logo-dark-2.png" alt="Client Logo" /></div>
                        </div>
                    </div>
                    <div class="owl-item">
                        <div class="col-sm-12">
                            <div class="client-logo"><img src="~/Content/Themes/Store/assets/images/client-logo-dark-3.png" alt="Client Logo" /></div>
                        </div>
                    </div>
                    <div class="owl-item">
                        <div class="col-sm-12">
                            <div class="client-logo"><img src="~/Content/Themes/Store/assets/images/client-logo-dark-4.png" alt="Client Logo" /></div>
                        </div>
                    </div>
                    <div class="owl-item">
                        <div class="col-sm-12">
                            <div class="client-logo"><img src="~/Content/Themes/Store/assets/images/client-logo-dark-5.png" alt="Client Logo" /></div>
                        </div>
                    </div>
                    <div class="owl-item">
                        <div class="col-sm-12">
                            <div class="client-logo"><img src="~/Content/Themes/Store/assets/images/client-logo-dark-1.png" alt="Client Logo" /></div>
                        </div>
                    </div>
                    <div class="owl-item">
                        <div class="col-sm-12">
                            <div class="client-logo"><img src="~/Content/Themes/Store/assets/images/client-logo-dark-2.png" alt="Client Logo" /></div>
                        </div>
                    </div>
                    <div class="owl-item">
                        <div class="col-sm-12">
                            <div class="client-logo"><img src="~/Content/Themes/Store/assets/images/client-logo-dark-3.png" alt="Client Logo" /></div>
                        </div>
                    </div>
                    <div class="owl-item">
                        <div class="col-sm-12">
                            <div class="client-logo"><img src="~/Content/Themes/Store/assets/images/client-logo-dark-4.png" alt="Client Logo" /></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>