@model MediStockWeb.Areas.Admin.Models.MedicineModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

}
<form asp-controller="Medicine" asp-action="Create" method="post" id="product-form">
    
    <div class="content-header clearfix">

        @await Html.PartialAsync("_CreateOrUpdate.cshtml", Model);

        <div class="pull-right">
            <button type="submit" name="save" class="btn btn-success">
                <i class="fa fa-floppy-o"></i>
                Save
            </button>

            <button type="submit" name="save-continue" class="btn btn-success">
                <i class="fa fa-floppy-o"></i>
                Save Continue
            </button>
        </div>
    </div>
</form>

