@model MediStockWeb.Models.CustomerModel
@{
    ViewData["Title"] = "Forgot Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="module" style="background-image:url(../Content/Themes/Store/assets/images/AuthBg.png)">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <h4 class="font-alt" style="text-shadow: 1px 1px 8px white; color: black;">Recover Password</h4>
                @using (Html.BeginForm("RecoverPassword", "User", FormMethod.Post, new { @id = "AddUserFormID",enctype = "multipart/form-data", @class = "form" }))
                {
                    <div class="row" style="margin-top:20px;">
                        <div class="form-group">
                        <input class="form-control" id="E-mail" type="text" name="email" placeholder="Email" style="box-shadow: 8px 8px 0px black;" />
                    </div>
            
                    </div>
        <br>
        

                    <input type="submit" class="btn btn-success" onclick="return validateForm()" value="Send OTP" />
                    <h4 style="color:red;">@TempData["NoSuchEmailExists"]</h4>
    
                }
            </div>
        </div>
    </div>
</section>
<div class="module-small bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="widget" style="text-align:center;">
                    <h5 class="widget-title font-alt">About MediStock</h5>
                    <p>We are premium drugs supplying agency</p>
                    <p>Phone: +91 9978747702</p>
                    <p>Email: <a href="mailto:er.rajpawar@gmail.com?subject=MediStock Inquiry">er.rajpawar@gmail.com</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function validateForm() {

        // Validation for Email
        var email = document.forms["AddUserFormID"]["emailID"].value;
        if (email == "") {
            toastr.error("Email must be filled out");
            return false;
        }
        if (!(email.length >= 1 && email.length <= 100)) {
            toastr.error("Email length must be no longer than 100 Characters");
            return false;
        }
        if (!email.match(/^\w+([\.-]?\w+)*@@\w+([\.-]?\w+)*(\.\w{2,3})+$/)) {
            toastr.error("Enter Valid Email");
            return false;
        }

    }
</script>