@model CategoryModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h2>Edit</h2>

<form asp-controller="Category" asp-action="Edit" method="post" id="Form">

    <div>
        @await Html.PartialAsync("_CreateOrUpdate")
    </div>
    <br />
    <div class="content-header clearfix">

        <div class="ml-md-auto py-2 py-md-0">
            <a href="@Url.Action("List", "Category")" class="btn btn-secondary btn-round">BackToList</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="submit" name="save" class="btn btn-secondary btn-round">
                Save
            </button>

        </div>

    </div>

</form>