@model MediStockWeb.Areas.Admin.Models.UserModel

@{
    ViewData["Title"] = "Edit";
     Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<form asp-controller="AdminUser" asp-action="Edit" method="post" id="product-form">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            Edit- @Html.Raw(Model.FirstName)
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn btn-success">
                <i class="fa fa-floppy-o"></i>
                Save
            </button>

            <button type="submit" name="save-continue" class="btn btn-success">
                <i class="fa fa-floppy-o"></i>
                Save Continue
            </button>
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdate.cshtml", Model);
</form>
